body {
	background-image: url("images/weather-1.png");
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	height: 100%;
	margin: 0px;
}

html{
	height: 100%;
}

.main-div{
	overflow-y: scroll;
	height: 100%;
}
.weather-comment{
	margin-top: 100px;
}
.info{
	font-size: 8vw;
	margin: 0;
}
.arrow{
	font-size: 10vw;
}

form{
	margin-top: 15px;
	min-width: 312px;
}

.container {
    text-align: center;
}

input, button{
	border-radius: 5px;
    border: 1px solid #343a40;
    font-size: 20px;
    padding: 10px;
    background-color: white;
}

button:hover{
	background-color: #343a40;
	color: white;
}

button, input:focus{
	outline: none;
}

.temp {
    font-size: 4em;
    margin: 0px;
}

.description {
    font-size: 2em;
    margin: 0px;
}

.temp-range{
	font-weight: bold;
	font-size: 18px;
}

.weather-info {
    display: none;
}

.city-name {
    letter-spacing: 3px;
    text-transform: uppercase;
}

.cloud{
    font-size: 4em;
}

.main{
	display: none;
	font-weight: bold;
    font-size: 22px;
}

.display-sec{
	display: flex;
	justify-content: center;;
	align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.display-sec div{
	width: 16%;
	padding: 15px;
	height: 270px;
	flex-wrap: wrap;
	min-width: 140px;
	text-align: center;
	cursor: pointer;
	margin: 3px;
	border: 2px solid #ffb288;

}

.display-sec div:hover{
	background: #ffb28859;
	border-radius: 5px;
	transition: 1s;
}

.cloudy{
	font-size: 25px	
}